<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timocoin API</title>
    <link rel="stylesheet" href="/styles/index.css"/>
    <link rel="shortcut icon" href="/images/timo.ico" type="image/x-icon">
    <link rel="icon" href="/images/timo.ico" type="image/x-icon">
</head>
<body>
    <%- include('title') %>
    <div class="body_table">
        <div class="chaininfo">
            <img src="/images/timo.png" width="50px" height="50px">
            Timocoin Blockchain Information
            <!-- <div>Timocoin Blockchain Information</div> -->
        </div>
        <div class="chain_body">
            <div class="chain_block">
                <p class="blockp">
                    getblock
                </p>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    Input getblockhash
                </div>
                <div class="block_comment">
                    <form action="/getblock" method="POST">
                        <input id="input_text" type="text" name="blockhash" required>
                        <input id="input_submit" type="submit" value="Enter">
                    </form>
                </div>
            </div>
            <% if(data != ""){ console.log(data) %>
                <div class="chain_block">
                    <div class="block_title">
                        hash(해쉬)
                    </div>
                    <div class="block_comment">
                        <%= data.hash %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        confirmations(확인 횟수 혹은 없는 경우 -1)
                    </div>
                    <div class="block_comment">
                        <%= data.confirmations %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        size(블록 사이즈)
                    </div>
                    <div class="block_comment">
                        <%= data.size %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        strippedsize(감시 데이터를 제외한 블록 크기)
                    </div>
                    <div class="block_comment">
                        <%= data.strippedsize %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        weight(BIP 141에 정의된 블록 중량)
                    </div>
                    <div class="block_comment">
                        <%= data.weight %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        height(블록 높이 또는 인덱스)
                    </div>
                    <div class="block_comment">
                        <%= data.height %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        merkleroot(머클루트)
                    </div>
                    <div class="block_comment">
                        <%= data.merkleroot %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        time(UNIX epoch time으로 표시되는 블록 시간)
                    </div>
                    <div class="block_comment">
                        <%= data.time %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        tx(트랜잭션 ids)
                    </div>
                    <div class="block_comment">
                        <%= data.tx %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        time(UNIX epoch time으로 표시되는 블록 시간)
                    </div>
                    <div class="block_comment">
                        <%= data.time %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        mediantime(UNIX epoch time으로 표현된 중간 블록 시간)
                    </div>
                    <div class="block_comment">
                        <%= data.mediantime %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        nonce(난이도 요건을 충족하는 해시를 찾기 위해 사용)
                    </div>
                    <div class="block_comment">
                        <%= data.nonce %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        bits(비트)
                    </div>
                    <div class="block_comment">
                        <%= data.bits %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        difficulty(난이도)
                    </div>
                    <div class="block_comment">
                        <%= data.difficulty %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        chainwork(블록까지 체인을 생성하는 데 필요한 예상 해시 수(16진수))
                    </div>
                    <div class="block_comment">
                        <%= data.chainwork %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        previousblockhash(이전 블록의 해시)
                    </div>
                    <div class="block_comment">
                        <%= data.previousblockhash %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        nextblockhash(다음 블록의 해시)
                    </div>
                    <div class="block_comment">
                        <%= data.nextblockhash %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>