<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timocoin API</title>
    <link rel="stylesheet" href="/styles/index.css"/>
    <link rel="shortcut icon" href="/images/timo.ico" type="image/x-icon">
    <link rel="icon" href="/images/timo.ico" type="image/x-icon">
</head>
<body>
    <%- include('title') %>
    <div class="body_table">
        <div class="chaininfo">
            <img src="/images/timo.png" width="50px" height="50px">
            Timocoin Blockchain Information
        </div>
        <div class="chain_body">
            <div class="chain_block">
                <p class="blockp">
                    getmininginfo
                </p>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    chain(네트워크 이름)
                </div>
                <div class="block_comment">
                    <%= data.chain %>
                </div>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    blocks(현재 블록)
                </div>
                <div class="block_comment">
                    <%= data.blocks %>
                </div>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    currentblockweight(마지막으로 조립된 블록의 블록 무게)
                </div>
                <div class="block_comment">
                    <%= data.currentblockweight %>
                </div>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    currentblocktx(마지막으로 조립된 블록의 거래 수)
                </div>
                <div class="block_comment">
                    <%= data.currentblocktx %>
                </div>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    difficulty(난이도)
                </div>
                <div class="block_comment">
                    <%= data.difficulty %>
                </div>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    networkhashps(초당 네트워크 해시 수)
                </div>
                <div class="block_comment">
                    <%= data.networkhashps %>
                </div>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    pooledtx(메모리 풀의 크기)
                </div>
                <div class="block_comment">
                    <%= data.pooledtx %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>