<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timocoin API</title>
    <link rel="stylesheet" href="/styles/index.css"/>
    <link rel="shortcut icon" href="/images/timo.ico" type="image/x-icon">
    <link rel="icon" href="/images/timo.ico" type="image/x-icon">
</head>
<body>
    <%- include('title') %>
    <div class="body_table">
        <div class="chaininfo">
            <img src="/images/timo.png" width="50px" height="50px">
            Timocoin Blockchain Information
            <!-- <div>Timocoin Blockchain Information</div> -->
        </div>
        <div class="chain_body">
            <div class="chain_block">
                <p class="blockp">
                    getnetworkinfo
                </p>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    version(서버 버전)
                </div>
                <div class="block_comment">
                    <%= data.version %>
                </div>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    subversion(sub서버 버전)
                </div>
                <div class="block_comment">
                    <%= data.subversion %>
                </div>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    protocolversion(프로토콜 버전)
                </div>
                <div class="block_comment">
                    <%= data.protocolversion %>
                </div>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    localservices(네트워크에 제공하는 서비스)
                </div>
                <div class="block_comment">
                    <%= data.localservices %>
                </div>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    connections(총 접속 수)
                </div>
                <div class="block_comment">
                    <%= data.connections %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>