<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timocoin API</title>
    <link rel="stylesheet" href="/styles/index.css"/>
    <link rel="shortcut icon" href="/images/timo.ico" type="image/x-icon">
    <link rel="icon" href="/images/timo.ico" type="image/x-icon">
</head>
<body>
    <%- include('title') %>
    <div class="body_table">
        <div class="chaininfo">
            <img src="/images/timo.png" width="50px" height="50px">
            Timocoin Blockchain Information
        </div>
        <div class="chain_body">
            <div class="chain_block">
                <p class="blockp">
                    getwalletinfo
                </p>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    walletname(지갑 이름)
                </div>
                <div class="block_comment">
                    <%= data.walletname %>
                </div>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    walletversion(지갑 버전)
                </div>
                <div class="block_comment">
                    <%= data.walletversion %>
                </div>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    balance(잔고)
                </div>
                <div class="block_comment">
                    <%= data.balance %>
                </div>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    unconfirmed_balance(미승인 잔고)
                </div>
                <div class="block_comment">
                    <%= data.unconfirmed_balance %>
                </div>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    immature_balance(숙성되지 않은 잔고)
                </div>
                <div class="block_comment">
                    <%= data.immature_balance %>
                </div>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    txcount(지갑에서의 거래 횟수)
                </div>
                <div class="block_comment">
                    <%= data.txcount %>
                </div>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    keypoololdest(미리 생성된 키 중 키 풀에서 가장 오래된 키의 UNIX 시간)
                </div>
                <div class="block_comment">
                    <%= data.keypoololdest %>
                </div>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    keypoololdest(사전 생성된 키 중 키 풀에서 가장 오래된 키의 UNIX 시간)
                </div>
                <div class="block_comment">
                    <%= data.keypoololdest %>
                </div>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    keypoolsize(새롭게 사전 생성된 키의 수 - 외부키만)
                </div>
                <div class="block_comment">
                    <%= data.keypoolsize %>
                </div>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    paytxfee(BTC / kvB에 설정된 거래 수수료 구성)
                </div>
                <div class="block_comment">
                    <%= data.paytxfee %>
                </div>
            </div>
            <div class="chain_block">
                <div class="block_title">
                    hdmasterkeyid(HD마스터키의 Hash160)
                </div>
                <div class="block_comment">
                    <%= data.hdmasterkeyid %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>