<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timocoin API</title>
    <link rel="stylesheet" href="/styles/index.css"/>
    <link rel="shortcut icon" href="/images/timo.ico" type="image/x-icon">
    <link rel="icon" href="/images/timo.ico" type="image/x-icon">
</head>
<body>
    <%- include('title') %>
    <div class="body_table">
        <div class="chaininfo">
            <img src="/images/timo.png" width="50px" height="50px">
            Timocoin Blockchain Information
        </div>
        <div class="chain_body">
            <div class="chain_block">
                <p class="blockp">
                    listtransactions (페이징 필요)
                </p>
            </div>
            <% data.forEach((item) => { %>
                <div class="chain_block">
                    <div class="block_title">
                        account(계정)
                    </div>
                    <div class="block_comment">
                        <%= item.account %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        address(거래된 코인 주소)
                    </div>
                    <div class="block_comment">
                        <%= item.address %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        category(종류)
                    </div>
                    <div class="block_comment">
                        <%= item.category %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        amount(BTC 양. 종류가 send일 때는 음수)
                    </div>
                    <div class="block_comment">
                        <%= item.amount %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        confirmations(확인 수)
                    </div>
                    <div class="block_comment">
                        <%= item.confirmations %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        blockhash(거래에 대한 블록 해시)
                    </div>
                    <div class="block_comment">
                        <%= item.blockhash %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        blocktime(UNIX 시간으로 표시된 블록 시간)
                    </div>
                    <div class="block_comment">
                        <%= item.blocktime %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        txid(거래 id)
                    </div>
                    <div class="block_comment">
                        <%= item.txid %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        time(UNIX 시간으로 표시된 거래 시간)
                    </div>
                    <div class="block_comment">
                        <%= item.time %>
                    </div>
                </div>
                <div class="chain_block">
                    <div class="block_title">
                        timereceived(UNIX 시간으로 표시된 받은 시간)
                    </div>
                    <div class="block_comment">
                        <%= item.timereceived %>
                    </div>
                </div>
                <hr>
            <% }) %>
        </div>
    </div>
</body>
</html>